@inherits LayoutComponentBase

<PageTitle>ProHotel</PageTitle>

<div class="page">
    <div class="App">
        
        <article class="content">
            @Body
        </article>
    </div>
</div>