@using ProHotel.Data
@inject OptionEntryService OptionEntryService

<div class="OptionEntry">
    <h4>Name: @Option.name</h4>
    <ul>
    @foreach(var value in Option.values)
    {
        <li class="OptionEntryElementList"><input type="checkbox"> @value</li>
    }
    </ul>
</div>

@code {
    [Parameter]
    public Option Option
    {
        get;
        set;
    }
}