
.room_image {
	display: block;
	text-align: center;
	max-width:150px;
	max-height:150px;
}

.small_info {
	/*font-size: 15px;*/
}

.main_table {
	border-style: dotted;
	background-color: white;
}

.image {
	text-align: center;
}