.room_image {
    margin: 3%;
}

.small_info {
    font-size: 20px;
    margin: 5%;
    text-align: left;
    list-style: circle;
}

.addons_list {
    list-style: none;
}

ul#addons_list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#addons_list li {
    display: inline;
}

.main_table {
    border-style: solid;
    border-color: #ffa31a;
    background-color: white;
    font-size: 30px;
}

.image {
    text-align: center;
}

.room-title {
    font-size: 28px;
    color: #1b1b1b;
}