@using System.Text.Json.Serialization
@using System.Text.Json
@using System.Text
<div class="search-field">
	<label>Cena od:</label>
	<br/>
	<input @bind="priceFrom" class="input-data">
	<label>Cena do:</label>
	<br/>
	<input @bind="priceTo" class="input-data">

	<label>Data od:</label>
	<br/>
	<input @bind="startDate" type="date" class="input-date">
	<br/>
	<label>Data do:</label>
	<br/>
	<input @bind="endDate" type="date" class="input-date">
	<br/>
	<label>Ilość dorosłych:</label>
	<br/>
	<input @bind="peopleNumber" id="PeopleNumber" type="number" class="input-number">
	<br/>
	<label>Ilość dzieci:</label>
	<br/>
	<input @bind="childrenNumber" id="childrenNumber" type="number" class="input-number">
	<br/>
	<label>Łóżka jednoosobowe:</label>
	<br/>
	<input @bind="bed_count_1p" id="bed_count_1p" type="number" class="input-number">
	<br/>
	<label>Łóżka dwuosobowe:</label>
	<br/>
	<input @bind="bed_count_2p" id="bed_count_2p" type="number" class="input-number">
	<br/>
	<label>Wielkość od:</label>
	<br/>
	<input @bind="areaFrom" id="areaFrom" type="number" class="input-number">
	<br/>
	<label>Wielkość do:</label>
	<br/>
	<input @bind="areaTo" id="areaTo" type="number" class="input-number">
	<br/>
	<label>Balkon:</label>
	<input @bind="balcony" type="checkbox" class="input-checkbox">
	<br/>
	<label>Łazienka:</label>
	<input @bind="bath" type="checkbox" class="input-checkbox">
	<br/>
	<label>Herbata:</label>
	<input @bind="tea" type="checkbox" class="input-checkbox">
	<br/>
	<label>Kawa:</label>
	<input @bind="coffee" type="checkbox" class="input-checkbox">
	<br/>
	<label>Gabinet:</label>
	<input @bind="desk" type="checkbox" class="input-checkbox">
	<br/>
	<label>Niepełnosprawni:</label>
	<input @bind="disabled_accessible" type="checkbox" class="input-checkbox">
	<br/>
	<label>Lodówka:</label>
	<input @bind="fridge" type="checkbox" class="input-checkbox">
	<br/>
	<label>Żelazko:</label>
	<input @bind="iron" type="checkbox" class="input-checkbox">
	<br/>
	<label>Dzieci:</label>
	<input @bind="kids_beds" type="checkbox" class="input-checkbox">
	<br/>
	<label>Kuchnia:</label>
	<input @bind="kitchen" type="checkbox" class="input-checkbox">
	<br/>
	<label>Pranie:</label>
	<input @bind="laundry" type="checkbox" class="input-checkbox">
	<br/>
	<label>Sejf:</label>
	<input @bind="safe" type="checkbox" class="input-checkbox">
	<br/>
	<label>Zwiedzanie:</label>
	<input @bind="sightseeing" type="checkbox" class="input-checkbox">
	<br/>
	<label>Kanapa:</label>
	<input @bind="sofa" type="checkbox" class="input-checkbox">
	<br/>
	<label>Toaleta:</label>
	<input @bind="toilet" type="checkbox" class="input-checkbox">
	<br/>
	<label>Telewizor:</label>
	<input @bind="tv" type="checkbox" class="input-checkbox">
	<br/>
	<label>Pralka:</label>
	<input @bind="washing_mashine" type="checkbox" class="input-checkbox">
	<br/>
	<br/>
	<button class="input-button" onclick="@onSearch">SZUKAJ</button>
	<br/>
</div>

@code {
    private int? priceFrom;
    private int? priceTo;
	private int? peopleNumber;
	private int? childrenNumber;
	private int? areaFrom;
	private int? areaTo;
	private int? bed_count_1p;
	private int? bed_count_2p;
	private bool? balcony {
	    get => _balcony;
	    set => _balcony = value == false ? null : value;
	}
	private bool? bath {
	    get => _bath;
        set => _bath = value == false ? null : value;
	}
	private bool? coffee {
	    get => _coffee;
        set => _coffee = value == false ? null : value;
	}
	private bool? desk {
	    get => _desk;
        set => _desk = value == false ? null : value;
	}
	private bool? disabled_accessible {
	    get => _disabled_accessible;
        set => _disabled_accessible = value == false ? null : value;
	}
	private bool? fridge {
	    get => _fridge;
        set => _fridge = value == false ? null : value;
	}
	private bool? iron {
	    get => _iron;
        set => _iron = value == false ? null : value;
	}
	private bool? kids_beds {
	    get => _kids_beds;
        set => _kids_beds = value == false ? null : value;
	}
	private bool? kitchen {
	    get => _kitchen;
        set => _kitchen = value == false ? null : value;
	}
	private bool? laundry {
	    get => _laundry;
        set => _laundry = value == false ? null : value;
	}
	private bool? safe {
	    get => _safe;
        set => _safe = value == false ? null : value;
	}
	private bool? sightseeing {
	    get => _sightseeing;
        set => _sightseeing = value == false ? null : value;
	}
	private bool? sofa {
	    get => _sofa;
        set => _sofa = value == false ? null : value;
	}
	private bool? tea {
	    get => _tea;
        set => _tea = value == false ? null : value;
	}
	private bool? toilet {
	    get => _toilet;
        set => _toilet = value == false ? null : value;
	}
	private bool? tv {
	    get => _tv;
        set => _tv = value == false ? null : value;
	}
	private bool? washing_mashine {
	    get => _washing_mashine;
        set => _washing_mashine = value == false ? null : value;
	}
    private string? variant;
    
    private bool? _balcony;
    private bool? _bath;
    private bool? _coffee;
    private bool? _desk;
    private bool? _disabled_accessible;
    private bool? _fridge;
    private bool? _iron;
    private bool? _kids_beds;
    private bool? _kitchen;
    private bool? _laundry;
    private bool? _safe;
    private bool? _sightseeing;
    private bool? _sofa;
    private bool? _tea;
    private bool? _toilet;
    private bool? _tv;
    private bool? _washing_mashine;
    
	// private string? startDate = DateTime.Today.ToString("u").Split(' ')[0];
	// private string? endDate = new DateTime(DateTime.Today.Year, DateTime.Today.Month + 1, DateTime.Today.Day).ToString("u").Split(' ')[0];
	private DateTime? startDate = DateTime.Today;
	private DateTime? endDate = new DateTime(DateTime.Today.Year, DateTime.Today.Month + 1, DateTime.Today.Day);

	[Parameter]
	public EventCallback<SearchRoomJSON> OnSearchClicked { get; set; }
    
	private void onSearch()
	{
	    var newPost = new SearchRoomJSON(areaFrom, areaTo, balcony, bath, bed_count_1p, bed_count_1p, bed_count_2p, bed_count_2p, childrenNumber, peopleNumber, peopleNumber, peopleNumber, coffee, startDate.ToString().Split(' ')[0], endDate.ToString().Split(' ')[0], desk, disabled_accessible, fridge, iron, kids_beds, kitchen, laundry, priceFrom, priceTo, safe, sightseeing, sofa, tea, toilet, tv, variant, washing_mashine);
	    OnSearchClicked.InvokeAsync(newPost);
	}
}