@using ProHotel.Data
@inject RoomEntryService RoomEntryService;

<div class="search-result">
	<h1>CHUJ</h1>
	<ul class="search-result-list">
		@foreach (var entry in _rooms)
		{
			<li class="search-result-element">
				<RoomEntry Room=@entry />
			</li>
		}
	</ul>
</div>

@code {
    private Room[]? _rooms;

    [Parameter]
    public bool Random { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _rooms = await RoomEntryService.GetRooms(Random);
    }
}