@using ProHotel.Data
@inject RoomEntryService RoomEntryService;

<div class="search-result">
	@if (!Random)
	{
		<h1>Znaleziono @roomsCount @text</h1>
	}
	else
	{
		<h1>Przykładowe pokoje</h1>
	}
	<ul class="search-result-list">
		@foreach (var entry in _rooms)
		{
			<li class="search-result-element">
				<RoomEntry Room=@entry />
			</li>
		}
	</ul>
</div>

@code {
	private Room[]? _rooms;

	public int roomsCount = 0;
	public string text = "";

	[Parameter]
	public bool Random { get; set; }

	[Parameter]
	public SearchRoomJSON? SearchField { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_rooms = await RoomEntryService.GetRooms(Random);
		roomsCount = _rooms.Length;
		text = roomsCount > 4 ? "pokoi" : roomsCount > 1 ? "pokoje" : roomsCount < 1 ? "pokoi" : "pokój";
	}

	protected override async void OnParametersSet()
	{
		await base.OnParametersSetAsync();

		if (SearchField == null)
			return;

		_rooms = await RoomEntryService.GetRooms(SearchField);
		roomsCount = _rooms.Length;
		text = roomsCount > 4 ? "pokoi" : roomsCount > 1 ? "pokoje" : roomsCount < 1 ? "pokoi" : "pokój";
	}

}